In [2]:
import pandas as pd

In [25]:
train = pd.read_csv('features_train.dat', header=None, sep='\s+', engine='python')
test = pd.read_csv('features_test.dat', header=None, sep='\s+', engine='python')

In [26]:
train.head()

     0         1         2
0  6.0  0.341092 -4.528937
1  5.0  0.444131 -5.496812
2  4.0  0.231002 -2.886750
3  7.0  0.200275 -3.534375
4  3.0  0.291936 -4.352062

In [ ]:
def read_data():
    x_train = read_csv("")